<!-- footer -->
<div class="w3l_footer">
    <div class="container">
        <div class="w3ls_footer_grid">
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>Location:</h4>
                <p>25095 Blue Ravine Rd, <br> New York, USA</p>
            </div>
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>Contact us:</h4>
                <p><span>Phone : </span>505-222-5432</p>
                <p><span>Email : </span><a href="mailto:info@example.com">info@example.com</a></p>
            </div>
            <div class="col-md-4 w3ls_footer_grid_left">
                <h4>Events Hours:</h4>
                <p>Event Starts (10am-12pm)</p>

            </div>
            <div class="clearfix"> </div>
        </div>
        <!-- footer-button-info -->
        <div class="footer-middle-agileinfo">
            <div class="footer-button">
                <div class="button-top-w3layouts">
                    <div class="logo-icons-w3ls">
                        <img src="assets/images/f2.png" alt="img">
                    </div>
                </div>

                <h2>We’re Committed to Service Excellence.</h2>
            </div>
        </div>
        <!-- footer-button-info -->
    </div>
</div>
<!-- footer -->

<div class="footer-bot wow fadeInRight animated" data-wow-delay=".5s">
    <div class="container">
        <div class="logo2">
            <h3><a href="index.html">Best Look</a></h3>
        </div>
        <div class="ftr-menu">
            <ul>
                <li><a href="index.html">Home </a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="gallery.html">Gallery</a></li>
                <li><a href="about.html">Team</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="copy-right wow fadeInLeft animated" data-wow-delay=".5s">
    <div class="container">
        <p> &copy; 2018 Best Look . All Rights Reserved | Design by <a href="http://w3layouts.com/"> W3layouts</a></p>
    </div>
</div>
<!-- //footer -->