<div class="blog_sec">
    <div class="w3-heading-all">
        <h3>Latest Designs</h3>
    </div>
    <div class="col-md-6 banner-btm-left">
        <div class="banner-btm-top">
            <div class="banner-btm-inner a1">
                <div class="blog_date">

                    <h4>Jan.05.2018</h4>

                </div>
                <h6><a href="#" data-toggle="modal" data-target="#myModal1">Strategic Planning</a></h6>
                <p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                <div class="clearfix"></div>
                <a href="#" class="blog-btn" data-toggle="modal" data-target="#myModal1">Know More</a>
            </div>
            <div class="banner-btm-inner a2">

            </div>
        </div>
        <div class="banner-btm-bottom">
            <div class="banner-btm-inner a3">

            </div>
            <div class="banner-btm-inner a4">
                <div class="blog_date">

                    <h4>Jan.08.2018</h4>

                </div>
                <h6><a href="#" data-toggle="modal" data-target="#myModal2">Trending Designs</a></h6>
                <p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                <div class="clearfix"></div>
                <a href="#" class="blog-btn" data-toggle="modal" data-target="#myModal2">Know More</a>
            </div>
        </div>
    </div>
    <div class="col-md-6 banner-btm-left">
        <div class="banner-btm-top">
            <div class="banner-btm-inner a1">
                <div class="blog_date">

                    <h4>Jan.25.2018</h4>

                </div>
                <h6><a href="#" data-toggle="modal" data-target="#myModal3">Trending Designs</a></h6>
                <p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                <div class="clearfix"></div>
                <a href="#" class="blog-btn" data-toggle="modal" data-target="#myModal3">Know More</a>
            </div>
            <div class="banner-btm-inner a5">

            </div>
        </div>
        <div class="banner-btm-bottom">
            <div class="banner-btm-inner a6">

            </div>
            <div class="banner-btm-inner a4">
                <div class="blog_date">

                    <h4>Jan.05.2018</h4>

                </div>
                <h6><a href="#" data-toggle="modal" data-target="#myModal4">Trending Designs</a></h6>
                <p class="paragraph">Aenean orci erat, placerat id pulvinar nec, tincidunt vel eros.</p>
                <div class="clearfix"></div>
                <a href="#" class="blog-btn" data-toggle="modal" data-target="#myModal4">Know More</a>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>